@using System.Xml.Linq
@model XElement

@{
    ViewBag.Title = "Uppgift 1 - Utbetalningar per ärende";
}

<h2>Uppgift 1 - Utbetalningar per ärende</h2>

@{
    // Detta är det XElement-objekt som skickats till vyn
    XElement xml = Model;
}
@{  foreach (XElement arende in Model.Descendants("Ärende"))
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Ärende @((string)("Namn")) 
                    </th>
                    <th>
                        HP
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    }

 }